@import '_nav.scss';

.main {
    .header-1 { 
        color:red;
        span {
            color: blue;
        }
    }
    .parahraph {
        color: red;
        &.is-big {
            font-size: 30px;
        }
    }
}